.blogpage-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .blogpage-wrap h2,
  p {
    margin: 0;
  }
  
  .hero-wrap {
    background: url("../public/images/herobg.svg");
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 215px;
    /* margin-top: -70px; */
  }
  
  .hero-section {
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    height: 336px;
    max-width: 1600px;
    width: 100%;
  }
  
  .path-container {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  
  .path-container a {
    color: #5dd5c4;
  }
  
  .path-container span {
    color: #f7f7f7;
  }
  
  .hero-section h1 {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 74px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #ffffff;
    max-width: 767px;
  }
  
  .blog-author {
    gap: 10px;
    height: 35px;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  
  .blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap: 30px;
    max-width: 1050px;
    width: 100%;
    background: #ffffff;
    border-radius: 4px;
  }
  
  .blog-image {
    width: 100%;
    max-width: 1050px;
    height: 428px;
    border-radius: 3px;
  }
  
  .blog-image img {
    width: 100%;
    height: 100%;
  }
  
  .blog-image-lg{
    width: 100%;
    max-width: 1050px;
    height: 534px;
    border-radius: 3px;
  }
  
  .blog-image-lg img{
    width: 100%;
    height: 100%;
  }
  
  .blog-read {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #606564;
  }
  
  .blog-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 20px;
  }
  
  .blog-content-hdr {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
  }
  
  .blog-content-hdr h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #000000;
  }
  
  .blog-content-hdr div {
    height: 21px;
    width: 1px;
    background: #5dd5c4;
    border: 1px solid #5dd5c4;
  }
  
  .blog-divider {
    max-width: 1050px;
    width: 100%;
    height: 0;
    border: 1px solid #eeeeee;
  }
  
  .blog-socials-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1050px;
    height: 80px;
  }
  
  .blog-socials {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0px;
    gap: 12px;
    max-width: 1050px;
    width: 100%;
    height: 40px;
  }
  
  .blog-tags {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 10px;
    max-width: 894px;
    height: 40px;
  }
  
  .tag {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 39px;
    padding: 3px 10px;
    min-width: 80px;
    background: #f7f7f7;
    border-radius: 100px;
  }
  
  .tag span {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #808686;
  }
  
  .blog-socialmedia {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0px;
    gap: 12px;
  
    width: 144px;
    height: 40px;
  }
  
  .blog-socialmedia div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eceeed;
    border-radius: 30px;
    width: 38px;
    height: 38px;
    cursor: pointer;
  }
  
  .blog-socialmedia div:hover {
    background-color: #fafafa;
  }
  
  .blog-socialmedia img {
    width: 16px;
    height: 16px;
  }
  
  @media screen and (max-width: 1015px) {
    .blog-container{
      padding: 36.5px;
    }
  }
  
  
  @media screen and (max-width: 900px) {
    .hero-wrap {
      padding-right: 50px;
    }
  
    .hero-section {
      gap: 16px;
      height: 260px;
    }
  
    .hero-section h1 {
      font-weight: 600;
      font-size: 40px;
      line-height: 60px;
    }
  
    .blog-image{
      height: auto;
    }
    .blog-image-lg{
      height: auto;
    }
  }
  
  @media screen and (max-width: 600px) {
    .hero-section h1 {
      font-weight: 400;
      font-size: 30px;
      line-height: 36px;
      max-width: 500px;
      padding-left: 15px;
    }
  
    .blog-container{
      padding: 36.5px 0;
    }
  
    .blog-socials-wrap{
      height: 160px;
    }
  
    .blog-socials{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
      height: auto;
    }
  }
  