/* .content-tabs-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 15px 0 15px;
}

.content-tabs-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 60px;
} */

/* .content-tabs {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 30px;
} */

/* .content-tab-title {
  position: relative;
  text-align: right;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #a0a4a4;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: color 0.5s ease;
} */

/* .content-tab-title:after {
  opacity: 0;
  content: " ";
  border: 2px solid #5dd5c4;
  border-radius: 3px;
  width: 90%;
  bottom: -13px;
  position: absolute;
  transition: 0.2s ease-in-out;
  transform: scaleX(0);
} */

/* .content-tab-title a:hover {
  color: #202221;
}

.content-tab-title:hover:after {
  opacity: 1;
  transform: scaleX(1);
} */

/* .active-tab {
  color: #202221;
}

.active-tab:after {
  opacity: 1;
  content: " ";
  border: 2px solid #5dd5c4;
  border-radius: 3px;
  width: 90%;
  bottom: -13px;
  position: absolute;
  transition: 0.2s ease-in-out;
  transform: scaleX(1);
} */

/* .content-tabs-controls {
  display: flex;
  flex-direction: row-reverse;
  gap: 24px;
  align-items: center;
}

.content-tabs-controls div {
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .content-tab-item {
  display: flex;
  flex-direction: column;
  width: 270px;
} */

/* .content-tab-item img {
  border-radius: 3px 3px 0px 0px;
  width: 100%;
  height: 230px;
} */

/* .cards-swiper {
  width: 100%;
  height: 100%;
  max-width: 1170px;
  max-height: 442px;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 0;
} */

/* .cards-slider {
  display: flex;
  justify-content: flex-end;
} */

/* .cards-swiper div:nth-child(1){
  justify-content: right;
} */

@media only screen and (max-width: 500px) {
  /* .content-tab-title{
    font-size: 18px;
    line-height: 27px;
  } */

  /* .content-tabs-controls{
    display: none;
  } */
}

@media only screen and (max-width: 600px) {
  /* .cards-swiper {
    width: 330px;
  } */
}

@media only screen and (min-width: 600px) {
  /* .cards-swiper {
    width: 600px;
  } */
}

@media only screen and (min-width: 910px) {
  /* .cards-swiper {
    width: 900px;
  } */
}
