/* .optin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 40px;
    justify-content: center;
    background: #F7F7F7;
    margin-top: 70px;
}

.optin-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    margin-bottom: 7px;
    flex: none;
    flex-grow: 0;
}

.optin-header :nth-child(1){
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #202221;
}

.optin-header :nth-child(2){
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #808686;
}

.email-input-container{
    display: flex;
    align-items: center;
    padding: 0px;
    width: 571px;
    background: #FFFFFF;
    border: 1px solid #F7F7F7;
    border-radius: 3px;
}

.email-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 42px;
    background: #5DD5C4;
    border-radius: 3px 0px 0px 3px;
}

.email-btn input{
    max-width: 166px;
    height: 42px;
    padding: 7px 64px;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    border: 0;
    outline: none;
    background: #5DD5C4;
    cursor: pointer;
}

.email-input{
    display: flex;
    align-items: center;
    text-align: right;
    position: relative;
    width: 100%;
}

.email-input input{ 
    display: flex;
    align-items: center;
    text-align: right;
    outline: none;
    border: none;
    padding: 10px 38px 10px 0;
    height: 21px;
    font-size: 14px;
    width: 100%;
}

.email-input div{ 
    position: absolute;
    right: 10px;
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-input span{
    position: absolute;
    right: 0;
    top: 55px;
}

footer{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 25px;
    width: 100%;
    max-width: 1170px;
    text-align: center;
    flex-wrap: wrap;
}

.footer-content a{
    text-align: right;
    color: #808686;
    line-height: 21px;
}

.footer-content span:nth-child(3){
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #808686;
}

.footer-social{
    display: flex;
    align-items: center;
}

.footer-social-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 141px;
    height: 42px;
    background: #FF9F4B;
    border-radius: 3px;
    cursor: pointer;
}

.footer-social-btn span{
    color: #FFFFFF;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
}

.footer-split{
    width: 42px;
    height: 0px;

    border: 1px solid #E9E9E9;
    transform: rotate(90deg);

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    margin: auto;
}

.footer-social-icons{
    width: 180px;
    gap: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.footer-social-icons div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 36px;
    height: 36px;

    background: #FAFAFA;

    border: 1px solid #ECEEED;
    border-radius: 30px;
    cursor: pointer;
} */

/* .social-icon{
    width: 16px;
    height: 16px;
    color: #404343;
} */

/* @media screen and (max-width: 810px){

    .footer-content{
        justify-content: center;
        gap: 15px;
    }

    .footer-content a{
        order: 1;
    }

    .footer-content span{
        order: 2;
    }

} */

/* @media screen and (max-width: 700px) {

    .optin-container{
        margin-top: 40px;
    }

    .optin-header{
        max-width: 304px;
    }

    .optin-header :nth-child(1){
        font-size: 18px;
line-height: 27px;
    }
    
    .optin-header :nth-child(2){
        line-height: 21px;
    }

    .email-input-container{
        width: 100%;
    }

} */

/* @media screen and (max-width: 400px) {

    .email-input-container{
        display: flex;
        flex-direction: column-reverse;
        gap: 12px;
    }

    .email-btn{
        width: 100%;
    }

    .email-btn input{
        height: 21px;
    }
    
} */